/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/bin/
/vendor/

# rspec failure tracking
.rspec_status

Gemfile.local
Gemfile.lock

# build output
/ruby-pwsh-*.gem

# Acceptance Testing fixtures
/spec/fixtures/modules/
/spec/fixtures/test.pp
/spec/fixtures/website/
