# frozen_string_literal: true

require 'spec_helper'
require 'puppet/type/{{.pct_name}}'

RSpec.describe 'the {{.pct_name}} type' do
  it 'loads' do
    expect(Puppet::Type.type(:{{.pct_name}})).not_to be_nil
  end
end
